.logo{
    max-width: 60px;
    max-height: 60px;
}

select{
    background-position: left 0.75rem center !important;
}

.connect-body {
    display: none;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1000;
    background:#2677b6;
}

.connect-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.connect-h1 {
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 0 0 3px white;
}

.connect-h4 {
    color: #f1f1f1;
    font-family: arial;
    font-weight: 500;
}

.connect-button {
    display: block;
    margin: 20px 0 0;
    padding: 15px 30px;
    background: #22254C;
    color: white;
    font-family: arial;
    letter-spacing: 5px;
    border-radius: .4rem;
    text-decoration: none;
    box-shadow: 0 0 15px #22254C;
}

.connect-button a {
    color: white;
}
